
@model Nomoni.Examples.Basic.AdminModule.Models.ManagmentViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}

<h2 class="admin-heading">@Model.PageTitle</h2>

@Model.PageContent

<a href="#" id="button" class="btn btn-primary">Click Me</a>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>