@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("logout", "home", FormMethod.Post))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>

        @Html.AntiForgeryToken()
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="Identity" asp-controller="/Account/Register">Register</a></li>
            <li><a asp-area="Identity" asp-controller="/Account/Login">Login</a></li>
        </ul>
}